# Shot By Shot Data Preprocessing

In [1]:
# import relevant libaries
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt

## Reading in data

In [2]:
shot_data = pd.read_csv('/Users/jonathanbeyene/Downloads/NBA_2004_2023_Shots.csv')

In [3]:
print(shot_data)

         SEASON_1 SEASON_2     TEAM_ID           TEAM_NAME  PLAYER_ID  \
0            2023  2022-23  1610612764  Washington Wizards     203078
1            2023  2022-23  1610612764  Washington Wizards     204001
2            2023  2022-23  1610612764  Washington Wizards    1628420
3            2023  2022-23  1610612764  Washington Wizards     204001
4            2023  2022-23  1610612764  Washington Wizards    1630166
...           ...      ...         ...                 ...        ...
4012556      2004  2003-04  1610612755  Philadelphia 76ers       2422
4012557      2004  2003-04  1610612759   San Antonio Spurs       1938
4012558      2004  2003-04  1610612747  Los Angeles Lakers        406
4012559      2004  2003-04  1610612756        Phoenix Suns       2063
4012560      2004  2003-04  1610612748          Miami Heat       2548

                PLAYER_NAME POSITION_GROUP POSITION   GAME_DATE   GAME_ID  \
0              Bradley Beal              G       SG  10-19-2022  22200004
1        Kristaps Porzingis              C        C  10-19-2022  22200004
2              Monte Morris              G       PG  10-19-2022  22200004
3        Kristaps Porzingis              C        C  10-19-2022  22200004
4               Deni Avdija              F       SF  10-19-2022  22200004
...                     ...            ...      ...         ...       ...
4012556        John Salmons              G       SG  10-28-2003  20300001
4012557       Manu Ginobili              G       SG  10-28-2003  20300002
4012558    Shaquille O'Neal              C        C  10-28-2003  20300003
4012559        Jake Voskuhl              C        C  10-28-2003  20300002
4012560         Dwyane Wade              G       PG  10-28-2003  20300001

         ...             BASIC_ZONE         ZONE_NAME ZONE_ABB  \
0        ...          Left Corner 3         Left Side        L
1        ...      Above the Break 3            Center        C
2        ...        Restricted Area            Center        C
3        ...        Restricted Area            Center        C
4        ...        Restricted Area            Center        C
...      ...                    ...               ...      ...
4012556  ...          Left Corner 3         Left Side        L
4012557  ...      Above the Break 3  Left Side Center       LC
4012558  ...  In The Paint (Non-RA)            Center        C
4012559  ...        Restricted Area            Center        C
4012560  ...        Restricted Area            Center        C

              ZONE_RANGE LOC_X  LOC_Y SHOT_DISTANCE QUARTER MINS_LEFT  \
0                24+ ft.  23.4  12.95            24       1        11
1                24+ ft.  -0.4  31.45            26       1        10
2        Less Than 8 ft.  -1.3   5.25             1       1        10
3        Less Than 8 ft.  -0.1   7.25             2       1        10
4        Less Than 8 ft.   1.8   7.15             2       1        10
...                  ...   ...    ...           ...     ...       ...
4012556          24+ ft.  23.3   9.55            23       1        11
4012557          24+ ft.  15.1  25.85            25       1        11
4012558  Less Than 8 ft.  -4.7   9.85             6       1        11
4012559  Less Than 8 ft.  -2.3   6.05             2       1        11
4012560  Less Than 8 ft.  -0.0   5.25             0       1        11

        SECS_LEFT
0              20
1              52
2              39
3              31
4               5
...           ...
4012556        21
4012557        24
4012558        39
4012559        42
4012560        48

[4012561 rows x 26 columns]

In [4]:
print(shot_data.columns)

Index(['SEASON_1', 'SEASON_2', 'TEAM_ID', 'TEAM_NAME', 'PLAYER_ID',
       'PLAYER_NAME', 'POSITION_GROUP', 'POSITION', 'GAME_DATE', 'GAME_ID',
       'HOME_TEAM', 'AWAY_TEAM', 'EVENT_TYPE', 'SHOT_MADE', 'ACTION_TYPE',
       'SHOT_TYPE', 'BASIC_ZONE', 'ZONE_NAME', 'ZONE_ABB', 'ZONE_RANGE',
       'LOC_X', 'LOC_Y', 'SHOT_DISTANCE', 'QUARTER', 'MINS_LEFT', 'SECS_LEFT'],
      dtype='object')

In [5]:
print(shot_data.isna().sum())

SEASON_1             0
SEASON_2             0
TEAM_ID              0
TEAM_NAME            0
PLAYER_ID            0
PLAYER_NAME          0
POSITION_GROUP    6666
POSITION          6666
GAME_DATE            0
GAME_ID              0
HOME_TEAM            0
AWAY_TEAM            0
EVENT_TYPE           0
SHOT_MADE            0
ACTION_TYPE          0
SHOT_TYPE            0
BASIC_ZONE           0
ZONE_NAME            0
ZONE_ABB             0
ZONE_RANGE           0
LOC_X                0
LOC_Y                0
SHOT_DISTANCE        0
QUARTER              0
MINS_LEFT            0
SECS_LEFT            0
dtype: int64

In [6]:
# USING YEAR FOR START OF SEASON
shot_data = shot_data.drop(columns = {'SEASON_2', 'TEAM_ID', 'PLAYER_ID', 'GAME_DATE', 'GAME_ID','EVENT_TYPE',
                                     'ZONE_ABB', 'QUARTER'})

In [7]:
shot_data['SEASON_1'] = shot_data['SEASON_1'] - 1

In [8]:
print(shot_data)

         SEASON_1           TEAM_NAME         PLAYER_NAME POSITION_GROUP  \
0            2022  Washington Wizards        Bradley Beal              G
1            2022  Washington Wizards  Kristaps Porzingis              C
2            2022  Washington Wizards        Monte Morris              G
3            2022  Washington Wizards  Kristaps Porzingis              C
4            2022  Washington Wizards         Deni Avdija              F
...           ...                 ...                 ...            ...
4012556      2003  Philadelphia 76ers        John Salmons              G
4012557      2003   San Antonio Spurs       Manu Ginobili              G
4012558      2003  Los Angeles Lakers    Shaquille O'Neal              C
4012559      2003        Phoenix Suns        Jake Voskuhl              C
4012560      2003          Miami Heat         Dwyane Wade              G

        POSITION HOME_TEAM AWAY_TEAM  SHOT_MADE  \
0             SG       IND       WAS       True
1              C       IND       WAS      False
2             PG       IND       WAS       True
3              C       IND       WAS       True
4             SF       IND       WAS       True
...          ...       ...       ...        ...
4012556       SG       PHI       MIA       True
4012557       SG       SAS       PHX      False
4012558        C       LAL       DAL      False
4012559        C       SAS       PHX      False
4012560       PG       PHI       MIA      False

                            ACTION_TYPE       SHOT_TYPE  \
0                             Jump Shot  3PT Field Goal
1                   Step Back Jump shot  3PT Field Goal
2        Running Finger Roll Layup Shot  2PT Field Goal
3                     Cutting Dunk Shot  2PT Field Goal
4                     Cutting Dunk Shot  2PT Field Goal
...                                 ...             ...
4012556                       Jump Shot  3PT Field Goal
4012557                       Jump Shot  3PT Field Goal
4012558                       Jump Shot  2PT Field Goal
4012559                      Layup Shot  2PT Field Goal
4012560                      Layup Shot  2PT Field Goal

                    BASIC_ZONE         ZONE_NAME       ZONE_RANGE  LOC_X  \
0                Left Corner 3         Left Side          24+ ft.   23.4
1            Above the Break 3            Center          24+ ft.   -0.4
2              Restricted Area            Center  Less Than 8 ft.   -1.3
3              Restricted Area            Center  Less Than 8 ft.   -0.1
4              Restricted Area            Center  Less Than 8 ft.    1.8
...                        ...               ...              ...    ...
4012556          Left Corner 3         Left Side          24+ ft.   23.3
4012557      Above the Break 3  Left Side Center          24+ ft.   15.1
4012558  In The Paint (Non-RA)            Center  Less Than 8 ft.   -4.7
4012559        Restricted Area            Center  Less Than 8 ft.   -2.3
4012560        Restricted Area            Center  Less Than 8 ft.   -0.0

         LOC_Y  SHOT_DISTANCE  MINS_LEFT  SECS_LEFT
0        12.95             24         11         20
1        31.45             26         10         52
2         5.25              1         10         39
3         7.25              2         10         31
4         7.15              2         10          5
...        ...            ...        ...        ...
4012556   9.55             23         11         21
4012557  25.85             25         11         24
4012558   9.85              6         11         39
4012559   6.05              2         11         42
4012560   5.25              0         11         48

[4012561 rows x 18 columns]

In [9]:
print(shot_data.columns)

Index(['SEASON_1', 'TEAM_NAME', 'PLAYER_NAME', 'POSITION_GROUP', 'POSITION',
       'HOME_TEAM', 'AWAY_TEAM', 'SHOT_MADE', 'ACTION_TYPE', 'SHOT_TYPE',
       'BASIC_ZONE', 'ZONE_NAME', 'ZONE_RANGE', 'LOC_X', 'LOC_Y',
       'SHOT_DISTANCE', 'MINS_LEFT', 'SECS_LEFT'],
      dtype='object')

## Fixing team names and abbreviations

#### TEAM_NAME

In [10]:
print(shot_data['TEAM_NAME'].unique())

['Washington Wizards' 'Utah Jazz' 'Toronto Raptors' 'San Antonio Spurs'
 'Sacramento Kings' 'Portland Trail Blazers' 'Phoenix Suns'
 'Philadelphia 76ers' 'Orlando Magic' 'Oklahoma City Thunder'
 'New York Knicks' 'New Orleans Pelicans' 'Minnesota Timberwolves'
 'Milwaukee Bucks' 'Miami Heat' 'Memphis Grizzlies' 'Los Angeles Lakers'
 'LA Clippers' 'Indiana Pacers' 'Houston Rockets' 'Golden State Warriors'
 'Detroit Pistons' 'Denver Nuggets' 'Dallas Mavericks'
 'Cleveland Cavaliers' 'Chicago Bulls' 'Charlotte Hornets' 'Brooklyn Nets'
 'Boston Celtics' 'Atlanta Hawks' 'Los Angeles Clippers'
 'Charlotte Bobcats' 'New Orleans Hornets' 'New Jersey Nets'
 'Seattle SuperSonics' 'New Orleans/Oklahoma City Hornets']

In [11]:
print(len(shot_data['TEAM_NAME'].unique()))

36

In [12]:
shot_data = shot_data.replace({'TEAM_NAME': {'Washington Wizards': 'WAS',
                                             'Utah Jazz': 'UTA',
                                             'Toronto Raptors': 'TOR',
                                             'San Antonio Spurs': 'SAS',
                                             'Sacramento Kings': 'SAC',
                                             'Portland Trail Blazers': 'POR',
                                             'Phoenix Suns': 'PHX',
                                             'Philadelphia 76ers': 'PHI',
                                             'Orlando Magic': 'ORL',
                                             'Oklahoma City Thunder':'OKC',
                                             'New York Knicks': 'NYK',
                                             'New Orleans Pelicans': 'NOP',
                                             'Minnesota Timberwolves': 'MIN',
                                             'Milwaukee Bucks': 'MIL',
                                             'Miami Heat': 'MIA',
                                             'Memphis Grizzlies': 'MEM',
                                             'Los Angeles Lakers': 'LAL',
                                             'LA Clippers': 'LAC',
                                             'Indiana Pacers': 'IND',
                                             'Houston Rockets':'HOU',
                                             'Golden State Warriors':'GSW',
                                             'Detroit Pistons':'DET',
                                             'Denver Nuggets':'DEN',
                                             'Dallas Mavericks': 'DAL',
                                             'Cleveland Cavaliers': 'CLE',
                                             'Chicago Bulls': 'CHI',
                                             'Charlotte Hornets':'CHA',
                                             'Brooklyn Nets': 'BKN',
                                             'Boston Celtics': 'BOS',
                                             'Atlanta Hawks': 'ATL',
                                             'Los Angeles Clippers': 'LAC',
                                             'Charlotte Bobcats': 'CHA',
                                             'New Orleans Hornets': 'NOP',
                                             'New Jersey Nets': 'BKN',
                                             'Seattle SuperSonics': 'OKC',
                                             'New Orleans/Oklahoma City Hornets':'NOP'}})

In [13]:
print(shot_data['TEAM_NAME'].unique())

['WAS' 'UTA' 'TOR' 'SAS' 'SAC' 'POR' 'PHX' 'PHI' 'ORL' 'OKC' 'NYK' 'NOP'
 'MIN' 'MIL' 'MIA' 'MEM' 'LAL' 'LAC' 'IND' 'HOU' 'GSW' 'DET' 'DEN' 'DAL'
 'CLE' 'CHI' 'CHA' 'BKN' 'BOS' 'ATL']

In [14]:
print(len(shot_data['TEAM_NAME'].unique()))

30

#### HOME_TEAM

In [15]:
print(shot_data['HOME_TEAM'].unique())

['IND' 'WAS' 'CLE' 'BOS' 'PHI' 'MEM' 'CHA' 'MIA' 'BKN' 'CHI' 'DEN' 'LAC'
 'LAL' 'PHX' 'UTA' 'SAC' 'ORL' 'MIL' 'OKC' 'NYK' 'DAL' 'HOU' 'NOP' 'SAS'
 'DET' 'GSW' 'POR' 'MIN' 'ATL' 'TOR' 'NOH' 'NJN' 'SEA' 'NOK']

In [16]:
print(len(shot_data['HOME_TEAM'].unique()))

34

In [17]:
# New Orleans has new abbriviation NOP but has old abbriviation NOH
shot_data.loc[shot_data['HOME_TEAM'] == 'NOH', 'HOME_TEAM'] = 'NOP'

# Brooklyn has new abbriviation BKN but has old abbriviation NJN
shot_data.loc[shot_data['HOME_TEAM'] == 'NJN', 'HOME_TEAM'] = 'BKN'

# Oklahoma has new abbriviation OKC but has old abbriviation SEA
shot_data.loc[shot_data['HOME_TEAM'] == 'SEA', 'HOME_TEAM'] = 'OKC'

# New Orleans has new abbriviation NOP but has old abbriviation NOK
shot_data.loc[shot_data['HOME_TEAM'] == 'NOK', 'HOME_TEAM'] = 'NOP'

In [18]:
print(shot_data['HOME_TEAM'].unique())

['IND' 'WAS' 'CLE' 'BOS' 'PHI' 'MEM' 'CHA' 'MIA' 'BKN' 'CHI' 'DEN' 'LAC'
 'LAL' 'PHX' 'UTA' 'SAC' 'ORL' 'MIL' 'OKC' 'NYK' 'DAL' 'HOU' 'NOP' 'SAS'
 'DET' 'GSW' 'POR' 'MIN' 'ATL' 'TOR']

In [19]:
print(len(shot_data['HOME_TEAM'].unique()))

30

##### AWAY_TEAM

In [20]:
print(shot_data['AWAY_TEAM'].unique())

['WAS' 'CHI' 'DET' 'IND' 'PHI' 'BKN' 'DAL' 'UTA' 'MEM' 'OKC' 'MIA' 'CHA'
 'MIN' 'LAL' 'LAC' 'PHX' 'NOP' 'NYK' 'GSW' 'ORL' 'POR' 'CLE' 'TOR' 'MIL'
 'ATL' 'SAC' 'DEN' 'SAS' 'BOS' 'HOU' 'NOH' 'NJN' 'SEA' 'NOK']

In [21]:
print(len(shot_data['AWAY_TEAM'].unique()))

34

In [22]:
# New Orleans has new abbriviation NOP but has old abbriviation NOH
shot_data.loc[shot_data['AWAY_TEAM'] == 'NOH', 'AWAY_TEAM'] = 'NOP'

# Brooklyn has new abbriviation BKN but has old abbriviation NJN
shot_data.loc[shot_data['AWAY_TEAM'] == 'NJN', 'AWAY_TEAM'] = 'BKN'

# Oklahoma has new abbriviation OKC but has old abbriviation SEA
shot_data.loc[shot_data['AWAY_TEAM'] == 'SEA', 'AWAY_TEAM'] = 'OKC'

# New Orleans has new abbriviation NOP but has old abbriviation NOK
shot_data.loc[shot_data['AWAY_TEAM'] == 'NOK', 'AWAY_TEAM'] = 'NOP'

In [23]:
print(shot_data['HOME_TEAM'].unique())

['IND' 'WAS' 'CLE' 'BOS' 'PHI' 'MEM' 'CHA' 'MIA' 'BKN' 'CHI' 'DEN' 'LAC'
 'LAL' 'PHX' 'UTA' 'SAC' 'ORL' 'MIL' 'OKC' 'NYK' 'DAL' 'HOU' 'NOP' 'SAS'
 'DET' 'GSW' 'POR' 'MIN' 'ATL' 'TOR']

In [24]:
print(len(shot_data['HOME_TEAM'].unique()))

30

## Finding Opposing Team

In [25]:
print(shot_data[['HOME_TEAM', 'AWAY_TEAM', 'TEAM_NAME']])

        HOME_TEAM AWAY_TEAM TEAM_NAME
0             IND       WAS       WAS
1             IND       WAS       WAS
2             IND       WAS       WAS
3             IND       WAS       WAS
4             IND       WAS       WAS
...           ...       ...       ...
4012556       PHI       MIA       PHI
4012557       SAS       PHX       SAS
4012558       LAL       DAL       LAL
4012559       SAS       PHX       PHX
4012560       PHI       MIA       MIA

[4012561 rows x 3 columns]

In [26]:
def get_opp(row):
    if row['HOME_TEAM'] == row['TEAM_NAME']:
        return row['AWAY_TEAM']
    if row['AWAY_TEAM'] == row['TEAM_NAME']:
        return row['HOME_TEAM']

In [27]:
shot_data['OPP_TEAM'] = shot_data.apply(get_opp, axis = 1)

In [28]:
print(shot_data[['HOME_TEAM', 'AWAY_TEAM', 'TEAM_NAME', 'OPP_TEAM']])

        HOME_TEAM AWAY_TEAM TEAM_NAME OPP_TEAM
0             IND       WAS       WAS      IND
1             IND       WAS       WAS      IND
2             IND       WAS       WAS      IND
3             IND       WAS       WAS      IND
4             IND       WAS       WAS      IND
...           ...       ...       ...      ...
4012556       PHI       MIA       PHI      MIA
4012557       SAS       PHX       SAS      PHX
4012558       LAL       DAL       LAL      DAL
4012559       SAS       PHX       PHX      SAS
4012560       PHI       MIA       MIA      PHI

[4012561 rows x 4 columns]

## Fixing Missing Values

In [29]:
print(shot_data.isna().sum())

SEASON_1             0
TEAM_NAME            0
PLAYER_NAME          0
POSITION_GROUP    6666
POSITION          6666
HOME_TEAM            0
AWAY_TEAM            0
SHOT_MADE            0
ACTION_TYPE          0
SHOT_TYPE            0
BASIC_ZONE           0
ZONE_NAME            0
ZONE_RANGE           0
LOC_X                0
LOC_Y                0
SHOT_DISTANCE        0
MINS_LEFT            0
SECS_LEFT            0
OPP_TEAM             0
dtype: int64

In [30]:
print(shot_data['POSITION'].unique())

['SG' 'C' 'PG' 'SF' 'PF' 'SG-PG' nan 'SF-SG' 'PF-SF' 'SG-SF' 'PG-SG'
 'C-PF' 'SG-PG-SF' 'PF-C' 'SF-PF' 'SF-C' 'SG-PF' 'PG-SF']

In [31]:
print(shot_data['POSITION_GROUP'].unique())

['G' 'C' 'F' nan]

In [32]:
print(shot_data[shot_data['POSITION'].isna()]['PLAYER_NAME'].unique())

['O.G. Anunoby' 'Jeff Dowtin Jr.' 'John Butler Jr.' 'Chance Comanche'
 'AJ Green' 'Xavier Tillman' 'Xavier Tillman Sr.' 'OG Anunoby'
 'Jeff Dowtin' 'Charlie Brown Jr.' 'M.J. Walker' 'Trevon Scott'
 'P.J. Dozier' 'Cam Reynolds' 'T.J. Leaf' 'Michael Frazier II'
 'Jeffery Taylor' 'Vitor Faverani']

In [33]:
def fix_position(row):
    if row['POSITION'] != row['POSITION']:
        if row['PLAYER_NAME'] == 'O.G. Anunoby':
            return 'G'
        if row['PLAYER_NAME'] == 'Jeff Dowtin Jr.':
            return 'G'
        if row['PLAYER_NAME'] == 'John Butler Jr.':
            return 'C'
        if row['PLAYER_NAME'] == 'Chance Comanche':
            return 'C'
        if row['PLAYER_NAME'] == 'AJ Green':
            return 'G'
        if row['PLAYER_NAME'] == 'Xavier Tillman':
            return 'F'
        if row['PLAYER_NAME'] == 'Xavier Tillman Sr.':
            return 'F'
        if row['PLAYER_NAME'] == 'OG Anunoby':
            return 'G'
        if row['PLAYER_NAME'] == 'Jeff Dowtin':
            return 'G'
        if row['PLAYER_NAME'] == 'Charlie Brown Jr.':
            return 'G'
        if row['PLAYER_NAME'] == 'M.J. Walker':
            return 'G'
        if row['PLAYER_NAME'] == 'Trevon Scott':
            return 'F'
        if row['PLAYER_NAME'] == 'P.J. Dozier':
            return 'G'
        if row['PLAYER_NAME'] == 'Cam Reynolds':
            return 'G'
        if row['PLAYER_NAME'] == 'T.J. Leaf':
            return 'F'
        if row['PLAYER_NAME'] == 'Michael Frazier II':
            return 'G'
        if row['PLAYER_NAME'] == 'Jeffery Taylor':
            return 'G'
        if row['PLAYER_NAME'] == 'Vitor Faverani':
            return 'F'
    else:
        return row['POSITION']

In [34]:
def fix_position_group(row):
    if row['POSITION_GROUP'] != row['POSITION_GROUP']:
        if row['PLAYER_NAME'] == 'O.G. Anunoby':
            return 'SG-SF'
        if row['PLAYER_NAME'] == 'Jeff Dowtin Jr.':
            return 'PG'
        if row['PLAYER_NAME'] == 'John Butler Jr.':
            return 'C'
        if row['PLAYER_NAME'] == 'Chance Comanche':
            return 'C'
        if row['PLAYER_NAME'] == 'AJ Green':
            return 'SG'
        if row['PLAYER_NAME'] == 'Xavier Tillman':
            return 'PF-C'
        if row['PLAYER_NAME'] == 'Xavier Tillman Sr.':
            return 'PF-C'
        if row['PLAYER_NAME'] == 'OG Anunoby':
            return 'SG-SF'
        if row['PLAYER_NAME'] == 'Jeff Dowtin':
            return 'G'
        if row['PLAYER_NAME'] == 'Charlie Brown Jr.':
            return 'SG-SF'
        if row['PLAYER_NAME'] == 'M.J. Walker':
            return 'G'
        if row['PLAYER_NAME'] == 'Trevon Scott':
            return 'SF-PF'
        if row['PLAYER_NAME'] == 'P.J. Dozier':
            return 'G'
        if row['PLAYER_NAME'] == 'Cam Reynolds':
            return 'SG-SF'
        if row['PLAYER_NAME'] == 'T.J. Leaf':
            return 'PF'
        if row['PLAYER_NAME'] == 'Michael Frazier II':
            return 'PG-SG'
        if row['PLAYER_NAME'] == 'Jeffery Taylor':
            return 'SF'
        if row['PLAYER_NAME'] == 'Vitor Faverani':
            return 'PF-C'
    else:
        return row['POSITION_GROUP']

In [35]:
shot_data['POSITION'] = shot_data.apply(fix_position, axis = 1)

In [36]:
shot_data['POSITION_GROUP'] = shot_data.apply(fix_position_group, axis = 1)

In [37]:
print(shot_data.isna().sum())

SEASON_1          0
TEAM_NAME         0
PLAYER_NAME       0
POSITION_GROUP    0
POSITION          0
HOME_TEAM         0
AWAY_TEAM         0
SHOT_MADE         0
ACTION_TYPE       0
SHOT_TYPE         0
BASIC_ZONE        0
ZONE_NAME         0
ZONE_RANGE        0
LOC_X             0
LOC_Y             0
SHOT_DISTANCE     0
MINS_LEFT         0
SECS_LEFT         0
OPP_TEAM          0
dtype: int64

## Adding Previous Year column for later merging

In [38]:
shot_data = shot_data.rename(columns = {'SEASON_1':'SEASON'})

In [39]:
print(shot_data.columns)

Index(['SEASON', 'TEAM_NAME', 'PLAYER_NAME', 'POSITION_GROUP', 'POSITION',
       'HOME_TEAM', 'AWAY_TEAM', 'SHOT_MADE', 'ACTION_TYPE', 'SHOT_TYPE',
       'BASIC_ZONE', 'ZONE_NAME', 'ZONE_RANGE', 'LOC_X', 'LOC_Y',
       'SHOT_DISTANCE', 'MINS_LEFT', 'SECS_LEFT', 'OPP_TEAM'],
      dtype='object')

In [40]:
shot_data['PREV_SEASON'] = shot_data['SEASON']-1

In [41]:
print(shot_data[['PREV_SEASON', 'SEASON']])

         PREV_SEASON  SEASON
0               2021    2022
1               2021    2022
2               2021    2022
3               2021    2022
4               2021    2022
...              ...     ...
4012556         2002    2003
4012557         2002    2003
4012558         2002    2003
4012559         2002    2003
4012560         2002    2003

[4012561 rows x 2 columns]

## Merging with the Player Statistic Dataset

In [42]:
# Importing Dataset to match Shooter with season stats
matching_df = pd.read_csv('/Users/jonathanbeyene/Downloads/NBA_Player_Stats (1).csv')
print(matching_df.columns)
print(matching_df)

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year'],
      dtype='object')
        Rk               Player Pos  Age   Tm   G  GS    MP   FG   FGA  ...  \
0        1   Mahmoud Abdul-Rauf  PG   28  SAC  31   0  17.1  3.3   8.8  ...
1        2    Tariq Abdul-Wahad  SG   23  SAC  59  16  16.3  2.4   6.1  ...
2        3  Shareef Abdur-Rahim  SF   21  VAN  82  82  36.0  8.0  16.4  ...
3        4       Cory Alexander  PG   24  TOT  60  22  21.6  2.9   6.7  ...
4        4       Cory Alexander  PG   24  SAS  37   3  13.5  1.6   3.9  ...
...    ...                  ...  ..  ...  ...  ..  ..   ...  ...   ...  ...
14568  601       Thaddeus Young  PF   33  TOR  26   0  18.3  2.6   5.5  ...
14569  602           Trae Young  PG   23  ATL  76  76  34.9  9.4  20.3  ...
14570  603       Omer Yurtseven   C   23  MIA  56  12  12.6  2.3   4.4  ...
14571  604          Cody Zeller   C   29  POR  27   0  13.1  1.9   3.3  ...
14572  605          Ivica Zubac   C   24  LAC  76  76  24.4  4.1   6.5  ...

       ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS       Year
0      0.2  1.0  1.2  1.9  0.5  0.0  0.6  1.0   7.3  1997-1998
1      0.7  1.2  2.0  0.9  0.6  0.2  1.1  1.4   6.4  1997-1998
2      2.8  4.3  7.1  2.6  1.1  0.9  3.1  2.5  22.3  1997-1998
3      0.3  2.2  2.4  3.5  1.2  0.2  1.9  1.6   8.1  1997-1998
4      0.2  1.1  1.3  1.9  0.7  0.1  1.3  1.4   4.5  1997-1998
...    ...  ...  ...  ...  ...  ...  ...  ...   ...        ...
14568  1.5  2.9  4.4  1.7  1.2  0.4  0.8  1.7   6.3  2021-2022
14569  0.7  3.1  3.7  9.7  0.9  0.1  4.0  1.7  28.4  2021-2022
14570  1.5  3.7  5.3  0.9  0.3  0.4  0.7  1.5   5.3  2021-2022
14571  1.9  2.8  4.6  0.8  0.3  0.2  0.7  2.1   5.2  2021-2022
14572  2.9  5.6  8.5  1.6  0.5  1.0  1.5  2.7  10.3  2021-2022

[14573 rows x 31 columns]

## Keeping with convention, since the season is a range we will consider the team that a player started the season with

In [43]:
# Since year is a range we will only consider the team a player ended the season with
matching_df = matching_df.rename(columns = {'Year':'Season'})


season_start = matching_df['Season'].str.split('-')
season_start = season_start.str[0]
matching_df['Season'] = season_start.astype(int)

## Removing Irrelevant columns and fixing column names

In [44]:
# removing irrelevant columns from matching dataframe
matching_df = matching_df.drop(columns = ['Rk', 'Age', 'G', 'GS', 'FG', 'FGA', '3P', '3PA', '2P', '2PA', 'FT%',
                                         'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV','PF','PTS'])
print(matching_df.columns)

Index(['Player', 'Pos', 'Tm', 'MP', 'FG%', '3P%', '2P%', 'eFG%', 'Season'], dtype='object')

In [45]:
# Renaming Tm to Team
matching_df = matching_df.rename(columns = {'Tm':'Team'})
matching_df = matching_df.reset_index()
matching_df = matching_df.drop(['index'],axis = 1)

print(matching_df)

                    Player Pos Team    MP    FG%    3P%    2P%   eFG%  Season
0       Mahmoud Abdul-Rauf  PG  SAC  17.1  0.377  0.161  0.405  0.386    1997
1        Tariq Abdul-Wahad  SG  SAC  16.3  0.403  0.211  0.414  0.409    1997
2      Shareef Abdur-Rahim  SF  VAN  36.0  0.485  0.412  0.488  0.493    1997
3           Cory Alexander  PG  TOT  21.6  0.428  0.375  0.469  0.510    1997
4           Cory Alexander  PG  SAS  13.5  0.414  0.313  0.494  0.483    1997
...                    ...  ..  ...   ...    ...    ...    ...    ...     ...
14568       Thaddeus Young  PF  TOR  18.3  0.465  0.395  0.495  0.524    2021
14569           Trae Young  PG  ATL  34.9  0.460  0.382  0.512  0.536    2021
14570       Omer Yurtseven   C  MIA  12.6  0.526  0.091  0.547  0.528    2021
14571          Cody Zeller   C  POR  13.1  0.567  0.000  0.593  0.567    2021
14572          Ivica Zubac   C  LAC  24.4  0.626    NaN  0.626  0.626    2021

[14573 rows x 9 columns]

## Adjusting team names in matching dataset

In [46]:
print(len(matching_df['Team'].unique()))

38

In [47]:
print(matching_df['Team'].unique())

['SAC' 'VAN' 'TOT' 'SAS' 'DEN' 'MIL' 'CLE' 'ATL' 'POR' 'BOS' 'ORL' 'UTA'
 'DAL' 'SEA' 'GSW' 'CHH' 'MIA' 'LAC' 'PHI' 'LAL' 'NJN' 'IND' 'TOR' 'CHI'
 'NYK' 'PHO' 'HOU' 'MIN' 'WAS' 'DET' 'MEM' 'NOH' 'CHA' 'NOK' 'OKC' 'BRK'
 'NOP' 'CHO']

In [48]:
# Brooklyn's new abbreviation is BKN but the dataset has old abbreviation BRK
matching_df.loc[matching_df['Team'] == 'BRK', 'Team'] = 'BKN'

# Charlotte Hornets new abbreivation is CHA but the data set has old abbreviation CHO
matching_df.loc[matching_df['Team'] == 'CHO', 'Team'] = 'CHA'

# Charlotte Hornets new abbreivation is CHA but the data set has old abbreviation CHH
matching_df.loc[matching_df['Team'] == 'CHH', 'Team'] = 'CHA'

# Phoenix new abbreivation is PHX but the data set has old abbreviation PHO
matching_df.loc[matching_df['Team'] == 'PHO', 'Team'] = 'PHX'

# Brooklyn's new abbreivation is BKN but the data set has old abbreviation NJN
matching_df.loc[matching_df['Team'] == 'NJN', 'Team'] = 'BKN'

# Oklahoma new abbreivation is OKC but the data set has old abbreviation SEA
matching_df.loc[matching_df['Team'] == 'SEA', 'Team'] = 'OKC'

# New Orleans new abbreivation is NOP but the data set has old abbreviation NOH
matching_df.loc[matching_df['Team'] == 'NOH', 'Team'] = 'NOP'

# New Orleans new abbreivation is NOP but the data set has old abbreviation NOK
matching_df.loc[matching_df['Team'] == 'NOK', 'Team'] = 'NOP'

# Memphis new abbreivation is MEM but the data set has old abbreviation VAN
matching_df.loc[matching_df['Team'] == 'VAN', 'Team'] = 'MEM'

In [49]:
print(matching_df['Team'].unique())

['SAC' 'MEM' 'TOT' 'SAS' 'DEN' 'MIL' 'CLE' 'ATL' 'POR' 'BOS' 'ORL' 'UTA'
 'DAL' 'OKC' 'GSW' 'CHA' 'MIA' 'LAC' 'PHI' 'LAL' 'BKN' 'IND' 'TOR' 'CHI'
 'NYK' 'PHX' 'HOU' 'MIN' 'WAS' 'DET' 'NOP']

In [50]:
print(len(matching_df['Team'].unique()))

31

## Problem occurs when player switches team mid-season

In [51]:
# A problem occurs when a player switches teams during the same season
# Here is an example of that instance
print(matching_df[matching_df['Player'] == 'Quincy Acy'])

           Player Pos Team    MP    FG%    3P%    2P%   eFG%  Season
8115   Quincy Acy  PF  TOR  11.8  0.560  0.500  0.562  0.567    2012
8679   Quincy Acy  SF  TOT  13.4  0.468  0.267  0.492  0.482    2013
8680   Quincy Acy  SF  TOR   8.7  0.429  0.400  0.444  0.500    2013
8681   Quincy Acy  SF  SAC  14.0  0.472  0.200  0.496  0.480    2013
9281   Quincy Acy  PF  NYK  18.9  0.459  0.300  0.494  0.486    2014
9923   Quincy Acy  PF  SAC  14.8  0.556  0.388  0.606  0.600    2015
10493  Quincy Acy  PF  TOT  14.7  0.412  0.411  0.413  0.521    2016
10494  Quincy Acy  PF  DAL   8.0  0.294  0.143  0.400  0.324    2016
10495  Quincy Acy  PF  BKN  15.9  0.425  0.434  0.414  0.542    2016
11079  Quincy Acy  PF  BKN  19.4  0.356  0.349  0.384  0.496    2017
11734  Quincy Acy  PF  PHX  12.3  0.222  0.133  0.667  0.278    2018

## The trade deadline is usually in Feburary, and to keep unifromity with the rest of my decisions, we will consider the team a player started the season on as their team.

In [52]:
# Here we see that Q. Acy played on DAL and BKN (TOT means that the player has played for 2 or more teams that season)
# We will only be evaluating using the team a player ended the season with

# First drop the TOT
matching_df = matching_df[matching_df['Team'] != 'TOT']

# Next drop duplicate values but keep the last team they played for during that season
matching_df = matching_df.drop_duplicates(subset = ['Player', 'Season', 'Pos'], keep = 'first')

print(matching_df[matching_df['Player'] == 'Quincy Acy'])

           Player Pos Team    MP    FG%    3P%    2P%   eFG%  Season
8115   Quincy Acy  PF  TOR  11.8  0.560  0.500  0.562  0.567    2012
8680   Quincy Acy  SF  TOR   8.7  0.429  0.400  0.444  0.500    2013
9281   Quincy Acy  PF  NYK  18.9  0.459  0.300  0.494  0.486    2014
9923   Quincy Acy  PF  SAC  14.8  0.556  0.388  0.606  0.600    2015
10494  Quincy Acy  PF  DAL   8.0  0.294  0.143  0.400  0.324    2016
11079  Quincy Acy  PF  BKN  19.4  0.356  0.349  0.384  0.496    2017
11734  Quincy Acy  PF  PHX  12.3  0.222  0.133  0.667  0.278    2018

## Merging Shot Dataset with Player Statistic Dataset

In [53]:
shot_data = shot_data.merge(matching_df, left_on = ['PLAYER_NAME', 'PREV_SEASON'], right_on = ['Player', 'Season'],
                           how = 'left')

In [54]:
print(shot_data.isna().sum())

SEASON                 0
TEAM_NAME              0
PLAYER_NAME            0
POSITION_GROUP         0
POSITION               0
HOME_TEAM              0
AWAY_TEAM              0
SHOT_MADE              0
ACTION_TYPE            0
SHOT_TYPE              0
BASIC_ZONE             0
ZONE_NAME              0
ZONE_RANGE             0
LOC_X                  0
LOC_Y                  0
SHOT_DISTANCE          0
MINS_LEFT              0
SECS_LEFT              0
OPP_TEAM               0
PREV_SEASON            0
Player            821833
Pos               821833
Team              821833
MP                821833
FG%               823737
3P%               993696
2P%               825955
eFG%              823737
Season            821833
dtype: int64

In [55]:
item = shot_data[shot_data['Player'].isna()]

In [56]:
# Amount of missing players
print(len(item['PLAYER_NAME'].unique()))

1790

In [57]:
print(item['PLAYER_NAME'].unique())

['Kristaps Porzingis' 'Deni Avdija' 'Johnny Davis' ... 'Jerome Beasley'
 'Shane Heal' 'Kirk Penney']

In [58]:
print(matching_df[matching_df['Player'].str.contains('Beasley')])

                Player Pos Team    MP    FG%    3P%    2P%   eFG%  Season
3048    Jerome Beasley  PF  MIA   2.5  0.333    NaN  0.333  0.333    2003
5852   Michael Beasley  PF  MIA  24.8  0.472  0.407  0.478  0.490    2008
6420   Michael Beasley  PF  MIA  29.8  0.450  0.275  0.469  0.463    2009
7007   Michael Beasley  SF  MIN  32.3  0.450  0.366  0.463  0.474    2010
7603   Michael Beasley  SF  MIN  23.1  0.445  0.376  0.462  0.483    2011
8155   Michael Beasley  SF  PHX  20.7  0.405  0.313  0.426  0.434    2012
8728   Michael Beasley  SF  MIA  15.1  0.499  0.389  0.518  0.528    2013
9321   Michael Beasley  PF  MIA  21.0  0.434  0.235  0.472  0.453    2014
9960   Michael Beasley  PF  HOU  18.2  0.522  0.333  0.531  0.529    2015
10525    Malik Beasley  SG  DEN   7.5  0.452  0.321  0.533  0.514    2016
10526  Michael Beasley  PF  MIL  16.7  0.532  0.419  0.545  0.554    2016
11110    Malik Beasley  SG  DEN   9.4  0.410  0.341  0.469  0.489    2017
11111  Michael Beasley  PF  NYK  22.3  0.507  0.395  0.520  0.528    2017
11772    Malik Beasley  SG  DEN  23.2  0.474  0.402  0.560  0.584    2018
11773  Michael Beasley  PF  LAL  10.7  0.490  0.176  0.529  0.500    2018
12465    Malik Beasley  SG  DEN  18.2  0.389  0.360  0.421  0.485    2019
13111    Malik Beasley  SG  MIN  32.8  0.440  0.399  0.487  0.547    2020
13810    Malik Beasley  SG  MIN  25.0  0.391  0.377  0.432  0.532    2021

In [59]:
print(shot_data[shot_data['PLAYER_NAME']=='Jerome Beasley'])

         SEASON TEAM_NAME     PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
4044684    2003       MIA  Jerome Beasley              F       PF       LAL
4064768    2003       MIA  Jerome Beasley              F       PF       BOS
4064789    2003       MIA  Jerome Beasley              F       PF       BOS

        AWAY_TEAM  SHOT_MADE           ACTION_TYPE       SHOT_TYPE  ...  \
4044684       MIA      False            Layup Shot  2PT Field Goal  ...
4064768       MIA      False            Layup Shot  2PT Field Goal  ...
4064789       MIA       True  Turnaround Jump Shot  2PT Field Goal  ...

        PREV_SEASON Player  Pos  Team  MP  FG%  3P%  2P% eFG%  Season
4044684        2002    NaN  NaN   NaN NaN  NaN  NaN  NaN  NaN     NaN
4064768        2002    NaN  NaN   NaN NaN  NaN  NaN  NaN  NaN     NaN
4064789        2002    NaN  NaN   NaN NaN  NaN  NaN  NaN  NaN     NaN

[3 rows x 29 columns]

Here we see a case where a player one played one season. If we were to use their end of season averages as a feature to predict an in season shot we would be susceptible to data leakage

In [60]:
print(shot_data.isna().sum())

SEASON                 0
TEAM_NAME              0
PLAYER_NAME            0
POSITION_GROUP         0
POSITION               0
HOME_TEAM              0
AWAY_TEAM              0
SHOT_MADE              0
ACTION_TYPE            0
SHOT_TYPE              0
BASIC_ZONE             0
ZONE_NAME              0
ZONE_RANGE             0
LOC_X                  0
LOC_Y                  0
SHOT_DISTANCE          0
MINS_LEFT              0
SECS_LEFT              0
OPP_TEAM               0
PREV_SEASON            0
Player            821833
Pos               821833
Team              821833
MP                821833
FG%               823737
3P%               993696
2P%               825955
eFG%              823737
Season            821833
dtype: int64

## Cleaning Up Dataset

#### Current barebones approach is to just drop na values

In [61]:
shot_data = shot_data.dropna(subset = ['Player'])
print(shot_data.isna().sum())

SEASON                 0
TEAM_NAME              0
PLAYER_NAME            0
POSITION_GROUP         0
POSITION               0
HOME_TEAM              0
AWAY_TEAM              0
SHOT_MADE              0
ACTION_TYPE            0
SHOT_TYPE              0
BASIC_ZONE             0
ZONE_NAME              0
ZONE_RANGE             0
LOC_X                  0
LOC_Y                  0
SHOT_DISTANCE          0
MINS_LEFT              0
SECS_LEFT              0
OPP_TEAM               0
PREV_SEASON            0
Player                 0
Pos                    0
Team                   0
MP                     0
FG%                 1904
3P%               171863
2P%                 4122
eFG%                1904
Season                 0
dtype: int64

#### Fixing missing shooting values

In [62]:
# At the latter end of their careers, some players enter a game once and do not take a shot for the whole season.
# We will be filling these values with 0
print(shot_data[shot_data['FG%'].isna()])

         SEASON TEAM_NAME     PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
118751     2022       LAL  Wenyen Gabriel              F       PF       GSW
119116     2022       LAL  Wenyen Gabriel              F       PF       MIN
119120     2022       LAL  Wenyen Gabriel              F       PF       MIN
119125     2022       LAL  Wenyen Gabriel              F       PF       MIN
119139     2022       LAL  Wenyen Gabriel              F       PF       MIN
...         ...       ...             ...            ...      ...       ...
3861900    2004       ATL    Jelani McCoy              C        C       ATL
3862811    2004       ATL    Jelani McCoy              C        C       ATL
3862820    2004       ATL    Jelani McCoy              C        C       ATL
3862823    2004       ATL    Jelani McCoy              C        C       ATL
3862878    2004       ATL    Jelani McCoy              C        C       ATL

        AWAY_TEAM  SHOT_MADE         ACTION_TYPE       SHOT_TYPE  ...  \
118751        LAL      False          Layup Shot  2PT Field Goal  ...
119116        LAL       True  Cutting Layup Shot  2PT Field Goal  ...
119120        LAL       True          Layup Shot  2PT Field Goal  ...
119125        LAL      False   Cutting Dunk Shot  2PT Field Goal  ...
119139        LAL      False           Jump Shot  3PT Field Goal  ...
...           ...        ...                 ...             ...  ...
3861900       SAS       True           Jump Shot  2PT Field Goal  ...
3862811       SAS      False          Layup Shot  2PT Field Goal  ...
3862820       SAS      False          Layup Shot  2PT Field Goal  ...
3862823       SAS      False          Layup Shot  2PT Field Goal  ...
3862878       SAS      False          Layup Shot  2PT Field Goal  ...

        PREV_SEASON          Player Pos  Team   MP  FG%  3P%  2P% eFG%  Season
118751         2021  Wenyen Gabriel  PF   BKN  1.0  NaN  NaN  NaN  NaN  2021.0
119116         2021  Wenyen Gabriel  PF   BKN  1.0  NaN  NaN  NaN  NaN  2021.0
119120         2021  Wenyen Gabriel  PF   BKN  1.0  NaN  NaN  NaN  NaN  2021.0
119125         2021  Wenyen Gabriel  PF   BKN  1.0  NaN  NaN  NaN  NaN  2021.0
119139         2021  Wenyen Gabriel  PF   BKN  1.0  NaN  NaN  NaN  NaN  2021.0
...             ...             ...  ..   ...  ...  ...  ...  ...  ...     ...
3861900        2003    Jelani McCoy   C   CLE  6.0  NaN  NaN  NaN  NaN  2003.0
3862811        2003    Jelani McCoy   C   CLE  6.0  NaN  NaN  NaN  NaN  2003.0
3862820        2003    Jelani McCoy   C   CLE  6.0  NaN  NaN  NaN  NaN  2003.0
3862823        2003    Jelani McCoy   C   CLE  6.0  NaN  NaN  NaN  NaN  2003.0
3862878        2003    Jelani McCoy   C   CLE  6.0  NaN  NaN  NaN  NaN  2003.0

[1904 rows x 29 columns]

In [63]:
# Filling this value with 0
shot_data.loc[shot_data['FG%'].isna(), 'FG%'] = 0
print(shot_data[shot_data['FG%'].isna()])

Empty DataFrame
Columns: [SEASON, TEAM_NAME, PLAYER_NAME, POSITION_GROUP, POSITION, HOME_TEAM, AWAY_TEAM, SHOT_MADE, ACTION_TYPE, SHOT_TYPE, BASIC_ZONE, ZONE_NAME, ZONE_RANGE, LOC_X, LOC_Y, SHOT_DISTANCE, MINS_LEFT, SECS_LEFT, OPP_TEAM, PREV_SEASON, Player, Pos, Team, MP, FG%, 3P%, 2P%, eFG%, Season]
Index: []

[0 rows x 29 columns]

In [64]:
# This same reasoning will cause their eFG% to also be null so we will fill it with zero
print(shot_data[shot_data['eFG%'].isna()])

         SEASON TEAM_NAME     PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
118751     2022       LAL  Wenyen Gabriel              F       PF       GSW
119116     2022       LAL  Wenyen Gabriel              F       PF       MIN
119120     2022       LAL  Wenyen Gabriel              F       PF       MIN
119125     2022       LAL  Wenyen Gabriel              F       PF       MIN
119139     2022       LAL  Wenyen Gabriel              F       PF       MIN
...         ...       ...             ...            ...      ...       ...
3861900    2004       ATL    Jelani McCoy              C        C       ATL
3862811    2004       ATL    Jelani McCoy              C        C       ATL
3862820    2004       ATL    Jelani McCoy              C        C       ATL
3862823    2004       ATL    Jelani McCoy              C        C       ATL
3862878    2004       ATL    Jelani McCoy              C        C       ATL

        AWAY_TEAM  SHOT_MADE         ACTION_TYPE       SHOT_TYPE  ...  \
118751        LAL      False          Layup Shot  2PT Field Goal  ...
119116        LAL       True  Cutting Layup Shot  2PT Field Goal  ...
119120        LAL       True          Layup Shot  2PT Field Goal  ...
119125        LAL      False   Cutting Dunk Shot  2PT Field Goal  ...
119139        LAL      False           Jump Shot  3PT Field Goal  ...
...           ...        ...                 ...             ...  ...
3861900       SAS       True           Jump Shot  2PT Field Goal  ...
3862811       SAS      False          Layup Shot  2PT Field Goal  ...
3862820       SAS      False          Layup Shot  2PT Field Goal  ...
3862823       SAS      False          Layup Shot  2PT Field Goal  ...
3862878       SAS      False          Layup Shot  2PT Field Goal  ...

        PREV_SEASON          Player Pos  Team   MP  FG%  3P%  2P% eFG%  Season
118751         2021  Wenyen Gabriel  PF   BKN  1.0  0.0  NaN  NaN  NaN  2021.0
119116         2021  Wenyen Gabriel  PF   BKN  1.0  0.0  NaN  NaN  NaN  2021.0
119120         2021  Wenyen Gabriel  PF   BKN  1.0  0.0  NaN  NaN  NaN  2021.0
119125         2021  Wenyen Gabriel  PF   BKN  1.0  0.0  NaN  NaN  NaN  2021.0
119139         2021  Wenyen Gabriel  PF   BKN  1.0  0.0  NaN  NaN  NaN  2021.0
...             ...             ...  ..   ...  ...  ...  ...  ...  ...     ...
3861900        2003    Jelani McCoy   C   CLE  6.0  0.0  NaN  NaN  NaN  2003.0
3862811        2003    Jelani McCoy   C   CLE  6.0  0.0  NaN  NaN  NaN  2003.0
3862820        2003    Jelani McCoy   C   CLE  6.0  0.0  NaN  NaN  NaN  2003.0
3862823        2003    Jelani McCoy   C   CLE  6.0  0.0  NaN  NaN  NaN  2003.0
3862878        2003    Jelani McCoy   C   CLE  6.0  0.0  NaN  NaN  NaN  2003.0

[1904 rows x 29 columns]

In [65]:
# Filling with zero
shot_data.loc[shot_data['eFG%'].isna(), 'eFG%'] = 0
print(shot_data[shot_data['eFG%'].isna()])

Empty DataFrame
Columns: [SEASON, TEAM_NAME, PLAYER_NAME, POSITION_GROUP, POSITION, HOME_TEAM, AWAY_TEAM, SHOT_MADE, ACTION_TYPE, SHOT_TYPE, BASIC_ZONE, ZONE_NAME, ZONE_RANGE, LOC_X, LOC_Y, SHOT_DISTANCE, MINS_LEFT, SECS_LEFT, OPP_TEAM, PREV_SEASON, Player, Pos, Team, MP, FG%, 3P%, 2P%, eFG%, Season]
Index: []

[0 rows x 29 columns]

In [66]:
# Some players (ex: Centers) have not taken a single 3P shot in a season therefore their 3P% is null.
print(shot_data[shot_data['3P%'].isna()])

         SEASON TEAM_NAME       PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
1829       2022       WAS  Vernon Carey Jr.              C        C       WAS
1832       2022       WAS  Vernon Carey Jr.              C        C       WAS
3287       2022       WAS  Vernon Carey Jr.              C        C       MIL
4103       2022       WAS  Vernon Carey Jr.              C        C       HOU
4105       2022       WAS  Vernon Carey Jr.              C        C       HOU
...         ...       ...               ...            ...      ...       ...
4066929    2003       MIA       Brian Grant              C        C       PHI
4066931    2003       MIA       Brian Grant              C        C       PHI
4066940    2003       PHI      Kenny Thomas              F       PF       PHI
4066961    2003       PHI      Kenny Thomas              F       PF       PHI
4066979    2003       PHX      Jake Voskuhl              C        C       SAS

        AWAY_TEAM  SHOT_MADE           ACTION_TYPE       SHOT_TYPE  ...  \
1829          MIN      False      Pullup Jump shot  2PT Field Goal  ...
1832          MIN      False  Turnaround Hook Shot  2PT Field Goal  ...
3287          WAS       True     Running Dunk Shot  2PT Field Goal  ...
4103          WAS      False             Jump Shot  2PT Field Goal  ...
4105          WAS      False    Driving Layup Shot  2PT Field Goal  ...
...           ...        ...                   ...             ...  ...
4066929       MIA       True            Layup Shot  2PT Field Goal  ...
4066931       MIA      False            Layup Shot  2PT Field Goal  ...
4066940       MIA      False             Jump Shot  2PT Field Goal  ...
4066961       MIA       True     Running Hook Shot  2PT Field Goal  ...
4066979       PHX      False            Layup Shot  2PT Field Goal  ...

        PREV_SEASON            Player Pos  Team    MP    FG%  3P%    2P%  \
1829           2021  Vernon Carey Jr.   C   CHA   4.3  0.500  NaN  0.500
1832           2021  Vernon Carey Jr.   C   CHA   4.3  0.500  NaN  0.500
3287           2021  Vernon Carey Jr.   C   CHA   4.3  0.500  NaN  0.500
4103           2021  Vernon Carey Jr.   C   CHA   4.3  0.500  NaN  0.500
4105           2021  Vernon Carey Jr.   C   CHA   4.3  0.500  NaN  0.500
...             ...               ...  ..   ...   ...    ...  ...    ...
4066929        2002       Brian Grant   C   MIA  32.2  0.509  NaN  0.509
4066931        2002       Brian Grant   C   MIA  32.2  0.509  NaN  0.509
4066940        2002      Kenny Thomas  PF   HOU  29.3  0.432  NaN  0.432
4066961        2002      Kenny Thomas  PF   HOU  29.3  0.432  NaN  0.432
4066979        2002      Jake Voskuhl   C   PHX  14.6  0.564  NaN  0.564

          eFG%  Season
1829     0.500  2021.0
1832     0.500  2021.0
3287     0.500  2021.0
4103     0.500  2021.0
4105     0.500  2021.0
...        ...     ...
4066929  0.509  2002.0
4066931  0.509  2002.0
4066940  0.432  2002.0
4066961  0.432  2002.0
4066979  0.564  2002.0

[171863 rows x 29 columns]

In [67]:
# Will fill these values with 0
shot_data.loc[shot_data['3P%'].isna(), '3P%'] = 0
print(shot_data[shot_data['3P%'].isna()])

Empty DataFrame
Columns: [SEASON, TEAM_NAME, PLAYER_NAME, POSITION_GROUP, POSITION, HOME_TEAM, AWAY_TEAM, SHOT_MADE, ACTION_TYPE, SHOT_TYPE, BASIC_ZONE, ZONE_NAME, ZONE_RANGE, LOC_X, LOC_Y, SHOT_DISTANCE, MINS_LEFT, SECS_LEFT, OPP_TEAM, PREV_SEASON, Player, Pos, Team, MP, FG%, 3P%, 2P%, eFG%, Season]
Index: []

[0 rows x 29 columns]

In [68]:
# Some players have not taken a 2P shot attempt therefore their 2P% is null.
print(shot_data[shot_data['2P%'].isna()])

         SEASON TEAM_NAME   PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
91910      2022       MIN     Matt Ryan              F       SF       POR
91913      2022       MIN     Matt Ryan              F       SF       POR
92032      2022       MIN     Matt Ryan              F       SF       OKC
92057      2022       MIN     Matt Ryan              F       SF       OKC
92452      2022       MIN     Matt Ryan              F       SF       MIA
...         ...       ...           ...            ...      ...       ...
3861900    2004       ATL  Jelani McCoy              C        C       ATL
3862811    2004       ATL  Jelani McCoy              C        C       ATL
3862820    2004       ATL  Jelani McCoy              C        C       ATL
3862823    2004       ATL  Jelani McCoy              C        C       ATL
3862878    2004       ATL  Jelani McCoy              C        C       ATL

        AWAY_TEAM  SHOT_MADE        ACTION_TYPE       SHOT_TYPE  ...  \
91910         MIN       True  Running Jump Shot  3PT Field Goal  ...
91913         MIN      False  Running Jump Shot  3PT Field Goal  ...
92032         MIN      False          Jump Shot  3PT Field Goal  ...
92057         MIN      False          Jump Shot  3PT Field Goal  ...
92452         MIN       True          Jump Shot  3PT Field Goal  ...
...           ...        ...                ...             ...  ...
3861900       SAS       True          Jump Shot  2PT Field Goal  ...
3862811       SAS      False         Layup Shot  2PT Field Goal  ...
3862820       SAS      False         Layup Shot  2PT Field Goal  ...
3862823       SAS      False         Layup Shot  2PT Field Goal  ...
3862878       SAS      False         Layup Shot  2PT Field Goal  ...

        PREV_SEASON        Player Pos  Team   MP  FG%  3P%  2P% eFG%  Season
91910          2021     Matt Ryan  SF   BOS  5.0  0.2  0.2  NaN  0.3  2021.0
91913          2021     Matt Ryan  SF   BOS  5.0  0.2  0.2  NaN  0.3  2021.0
92032          2021     Matt Ryan  SF   BOS  5.0  0.2  0.2  NaN  0.3  2021.0
92057          2021     Matt Ryan  SF   BOS  5.0  0.2  0.2  NaN  0.3  2021.0
92452          2021     Matt Ryan  SF   BOS  5.0  0.2  0.2  NaN  0.3  2021.0
...             ...           ...  ..   ...  ...  ...  ...  ...  ...     ...
3861900        2003  Jelani McCoy   C   CLE  6.0  0.0  0.0  NaN  0.0  2003.0
3862811        2003  Jelani McCoy   C   CLE  6.0  0.0  0.0  NaN  0.0  2003.0
3862820        2003  Jelani McCoy   C   CLE  6.0  0.0  0.0  NaN  0.0  2003.0
3862823        2003  Jelani McCoy   C   CLE  6.0  0.0  0.0  NaN  0.0  2003.0
3862878        2003  Jelani McCoy   C   CLE  6.0  0.0  0.0  NaN  0.0  2003.0

[4122 rows x 29 columns]

In [69]:
# Will Fill with zero
shot_data.loc[shot_data['2P%'].isna(), '2P%'] = 0
print(shot_data[shot_data['2P%'].isna()])

Empty DataFrame
Columns: [SEASON, TEAM_NAME, PLAYER_NAME, POSITION_GROUP, POSITION, HOME_TEAM, AWAY_TEAM, SHOT_MADE, ACTION_TYPE, SHOT_TYPE, BASIC_ZONE, ZONE_NAME, ZONE_RANGE, LOC_X, LOC_Y, SHOT_DISTANCE, MINS_LEFT, SECS_LEFT, OPP_TEAM, PREV_SEASON, Player, Pos, Team, MP, FG%, 3P%, 2P%, eFG%, Season]
Index: []

[0 rows x 29 columns]

In [70]:
# Checking dataset for any lingering null values
print(shot_data.isna().sum())

SEASON            0
TEAM_NAME         0
PLAYER_NAME       0
POSITION_GROUP    0
POSITION          0
HOME_TEAM         0
AWAY_TEAM         0
SHOT_MADE         0
ACTION_TYPE       0
SHOT_TYPE         0
BASIC_ZONE        0
ZONE_NAME         0
ZONE_RANGE        0
LOC_X             0
LOC_Y             0
SHOT_DISTANCE     0
MINS_LEFT         0
SECS_LEFT         0
OPP_TEAM          0
PREV_SEASON       0
Player            0
Pos               0
Team              0
MP                0
FG%               0
3P%               0
2P%               0
eFG%              0
Season            0
dtype: int64

In [71]:
print(shot_data)

         SEASON TEAM_NAME      PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
0          2022       WAS     Bradley Beal              G       SG       IND
2          2022       WAS     Monte Morris              G       PG       IND
6          2022       WAS     Monte Morris              G       PG       IND
7          2022       WAS       Kyle Kuzma              F       PF       IND
8          2022       WAS       Kyle Kuzma              F       PF       IND
...         ...       ...              ...            ...      ...       ...
4066971    2003       DAL    Dirk Nowitzki              C        C       LAL
4066972    2003       SAS      Bruce Bowen              F       SF       SAS
4066975    2003       PHX  Stephon Marbury              G       PG       SAS
4066976    2003       PHI     John Salmons              G       SG       PHI
4066979    2003       PHX     Jake Voskuhl              C        C       SAS

        AWAY_TEAM  SHOT_MADE                     ACTION_TYPE       SHOT_TYPE  \
0             WAS       True                       Jump Shot  3PT Field Goal
2             WAS       True  Running Finger Roll Layup Shot  2PT Field Goal
6             WAS      False  Running Finger Roll Layup Shot  2PT Field Goal
7             WAS       True                       Jump Shot  3PT Field Goal
8             WAS       True                       Jump Shot  3PT Field Goal
...           ...        ...                             ...             ...
4066971       DAL      False                       Jump Shot  3PT Field Goal
4066972       PHX      False                       Jump Shot  2PT Field Goal
4066975       PHX       True                       Jump Shot  2PT Field Goal
4066976       MIA       True                       Jump Shot  3PT Field Goal
4066979       PHX      False                      Layup Shot  2PT Field Goal

         ... PREV_SEASON           Player Pos  Team    MP    FG%    3P%  \
0        ...        2021     Bradley Beal  SG   WAS  36.0  0.451  0.300
2        ...        2021     Monte Morris  PG   DEN  29.9  0.484  0.395
6        ...        2021     Monte Morris  PG   DEN  29.9  0.484  0.395
7        ...        2021       Kyle Kuzma  PF   WAS  33.4  0.452  0.341
8        ...        2021       Kyle Kuzma  PF   WAS  33.4  0.452  0.341
...      ...         ...              ...  ..   ...   ...    ...    ...
4066971  ...        2002    Dirk Nowitzki  PF   DAL  39.0  0.463  0.379
4066972  ...        2002      Bruce Bowen  SF   SAS  31.3  0.466  0.441
4066975  ...        2002  Stephon Marbury  PG   PHX  40.0  0.439  0.301
4066976  ...        2002     John Salmons  PG   PHI   7.9  0.414  0.323
4066979  ...        2002     Jake Voskuhl   C   PHX  14.6  0.564  0.000

           2P%   eFG%  Season
0        0.508  0.492  2021.0
2        0.545  0.564  2021.0
6        0.545  0.564  2021.0
7        0.526  0.520  2021.0
8        0.526  0.520  2021.0
...        ...    ...     ...
4066971  0.493  0.513  2002.0
4066972  0.488  0.571  2002.0
4066975  0.472  0.468  2002.0
4066976  0.447  0.457  2002.0
4066979  0.564  0.564  2002.0

[3245148 rows x 29 columns]

## Merging in Defensie Rating Statistic

In [72]:
print(shot_data['PREV_SEASON'].unique())

[2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004 2003 2002]

Since the NBA merger occured in 2004 where they established the final 30 NBA teams we will only be looking at years 2004 and onwards

In [73]:
shot_data = shot_data[shot_data['PREV_SEASON'] >= 2004]

In [74]:
print(shot_data['PREV_SEASON'].unique())

[2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008
 2007 2006 2005 2004]

In [75]:
defense = pd.read_excel('/Users/jonathanbeyene/Downloads/NBA_DEF_RTG.xlsx')
print(defense)

    TEAM  YEAR  DEF_RTG
0    SAS  2004     97.8
1    CHI  2004     99.1
2    DET  2004     99.6
3    HOU  2004    100.1
4    MEM  2004    101.5
..   ...   ...      ...
535  ATL  2021    113.7
536  SAC  2021    114.8
537  IND  2021    115.5
538  POR  2021    116.3
539  HOU  2021    116.4

[540 rows x 3 columns]

In [76]:
print(defense['YEAR'].unique())

[2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017
 2018 2019 2020 2021]

In [77]:
shot_data = shot_data.merge(defense, left_on = ['PREV_SEASON', 'OPP_TEAM'], right_on = ['YEAR', 'TEAM'],
                                     how = 'left')

In [78]:
print(shot_data)

         SEASON TEAM_NAME    PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
0          2022       WAS   Bradley Beal              G       SG       IND
1          2022       WAS   Monte Morris              G       PG       IND
2          2022       WAS   Monte Morris              G       PG       IND
3          2022       WAS     Kyle Kuzma              F       PF       IND
4          2022       WAS     Kyle Kuzma              F       PF       IND
...         ...       ...            ...            ...      ...       ...
2947516    2005       PHX   Shawn Marion              F       PF       PHX
2947517    2005       DAL  Erick Dampier              C        C       PHX
2947518    2005       PHX    Kurt Thomas              C        C       PHX
2947519    2005       MIL   Michael Redd              G       SG       PHI
2947520    2005       DEN  Kenyon Martin              F       PF       SAS

        AWAY_TEAM  SHOT_MADE                     ACTION_TYPE       SHOT_TYPE  \
0             WAS       True                       Jump Shot  3PT Field Goal
1             WAS       True  Running Finger Roll Layup Shot  2PT Field Goal
2             WAS      False  Running Finger Roll Layup Shot  2PT Field Goal
3             WAS       True                       Jump Shot  3PT Field Goal
4             WAS       True                       Jump Shot  3PT Field Goal
...           ...        ...                             ...             ...
2947516       DAL       True            Alley Oop Layup shot  2PT Field Goal
2947517       DAL       True                      Layup Shot  2PT Field Goal
2947518       DAL       True                      Layup Shot  2PT Field Goal
2947519       MIL       True               Running Jump Shot  2PT Field Goal
2947520       DEN       True                       Jump Shot  2PT Field Goal

         ... Team    MP    FG%    3P%    2P%   eFG%  Season  TEAM  YEAR  \
0        ...  WAS  36.0  0.451  0.300  0.508  0.492  2021.0   IND  2021
1        ...  DEN  29.9  0.484  0.395  0.545  0.564  2021.0   IND  2021
2        ...  DEN  29.9  0.484  0.395  0.545  0.564  2021.0   IND  2021
3        ...  WAS  33.4  0.452  0.341  0.526  0.520  2021.0   IND  2021
4        ...  WAS  33.4  0.452  0.341  0.526  0.520  2021.0   IND  2021
...      ...  ...   ...    ...    ...    ...    ...     ...   ...   ...
2947516  ...  PHX  38.8  0.476  0.334  0.526  0.520  2004.0   DAL  2004
2947517  ...  DAL  27.3  0.550  0.000  0.555  0.550  2004.0   PHX  2004
2947518  ...  NYK  35.7  0.471  0.500  0.470  0.472  2004.0   DAL  2004
2947519  ...  MIL  38.0  0.441  0.355  0.463  0.477  2004.0   PHI  2004
2947520  ...  DEN  32.5  0.490  0.000  0.496  0.490  2004.0   SAS  2004

         DEF_RTG
0          115.5
1          115.5
2          115.5
3          115.5
4          115.5
...          ...
2947516    102.6
2947517    105.7
2947518    102.6
2947519    102.5
2947520     97.8

[2947521 rows x 32 columns]

In [79]:
print(shot_data.isna().sum())

SEASON            0
TEAM_NAME         0
PLAYER_NAME       0
POSITION_GROUP    0
POSITION          0
HOME_TEAM         0
AWAY_TEAM         0
SHOT_MADE         0
ACTION_TYPE       0
SHOT_TYPE         0
BASIC_ZONE        0
ZONE_NAME         0
ZONE_RANGE        0
LOC_X             0
LOC_Y             0
SHOT_DISTANCE     0
MINS_LEFT         0
SECS_LEFT         0
OPP_TEAM          0
PREV_SEASON       0
Player            0
Pos               0
Team              0
MP                0
FG%               0
3P%               0
2P%               0
eFG%              0
Season            0
TEAM              0
YEAR              0
DEF_RTG           0
dtype: int64

## Cleaning Up Columns

In [80]:
shot_data = shot_data.drop(columns = ['TEAM', 'YEAR'])

In [81]:
print(shot_data.columns)

Index(['SEASON', 'TEAM_NAME', 'PLAYER_NAME', 'POSITION_GROUP', 'POSITION',
       'HOME_TEAM', 'AWAY_TEAM', 'SHOT_MADE', 'ACTION_TYPE', 'SHOT_TYPE',
       'BASIC_ZONE', 'ZONE_NAME', 'ZONE_RANGE', 'LOC_X', 'LOC_Y',
       'SHOT_DISTANCE', 'MINS_LEFT', 'SECS_LEFT', 'OPP_TEAM', 'PREV_SEASON',
       'Player', 'Pos', 'Team', 'MP', 'FG%', '3P%', '2P%', 'eFG%', 'Season',
       'DEF_RTG'],
      dtype='object')

## One-Hot Encoding

#### SHOT_MADE

In [82]:
print(shot_data['SHOT_MADE'])

0           True
1           True
2          False
3           True
4           True
           ...
2947516     True
2947517     True
2947518     True
2947519     True
2947520     True
Name: SHOT_MADE, Length: 2947521, dtype: bool

In [83]:
shot_data['SHOT_MADE'] = shot_data['SHOT_MADE'].astype(int)
print(shot_data['SHOT_MADE'])

0          1
1          1
2          0
3          1
4          1
          ..
2947516    1
2947517    1
2947518    1
2947519    1
2947520    1
Name: SHOT_MADE, Length: 2947521, dtype: int64

#### SHOT_TYPE
#### Let 1 represent a 2-pointer and 0 represent a 3-pointer

In [84]:
print(shot_data['SHOT_TYPE'].unique())

['3PT Field Goal' '2PT Field Goal']

In [85]:
def get_shot_type(row):
    if row['SHOT_TYPE'] == '2PT Field Goal':
        return 1
    if row['SHOT_TYPE'] == '3PT Field Goal':
        return 0

In [86]:
shot_data['SHOT_TYPE'] = shot_data.apply(get_shot_type, axis = 1)
print(shot_data['SHOT_TYPE'])

0          0
1          1
2          1
3          0
4          0
          ..
2947516    1
2947517    1
2947518    1
2947519    1
2947520    1
Name: SHOT_TYPE, Length: 2947521, dtype: int64

#### ACTION_TYPE

In [87]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

encoder.fit_transform(np.array(shot_data['ACTION_TYPE']).reshape(-1,1))
onehot = encoder.transform(np.array(shot_data['ACTION_TYPE']).reshape(-1,1)).toarray()

In [88]:
action_df = pd.DataFrame(onehot, columns = shot_data['ACTION_TYPE'].unique())
print(action_df)

         Jump Shot  Running Finger Roll Layup Shot  Driving Layup Shot  \
0              0.0                             0.0                 0.0
1              0.0                             0.0                 0.0
2              0.0                             0.0                 0.0
3              0.0                             0.0                 0.0
4              0.0                             0.0                 0.0
...            ...                             ...                 ...
2947516        0.0                             1.0                 0.0
2947517        0.0                             0.0                 0.0
2947518        0.0                             0.0                 0.0
2947519        0.0                             0.0                 0.0
2947520        0.0                             0.0                 0.0

         Pullup Jump shot  Driving Finger Roll Layup Shot  Tip Layup Shot  \
0                     0.0                             0.0             0.0
1                     0.0                             0.0             0.0
2                     0.0                             0.0             0.0
3                     0.0                             0.0             0.0
4                     0.0                             0.0             0.0
...                   ...                             ...             ...
2947516               0.0                             0.0             0.0
2947517               0.0                             0.0             0.0
2947518               0.0                             0.0             0.0
2947519               0.0                             0.0             0.0
2947520               0.0                             0.0             0.0

         Step Back Jump shot  Driving Reverse Layup Shot  \
0                        0.0                         0.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        0.0                         0.0
4                        0.0                         0.0
...                      ...                         ...
2947516                  0.0                         0.0
2947517                  0.0                         0.0
2947518                  0.0                         0.0
2947519                  0.0                         0.0
2947520                  0.0                         0.0

         Running Reverse Layup Shot  Layup Shot  ...  Reverse Slam Dunk Shot  \
0                               0.0         0.0  ...                     0.0
1                               0.0         0.0  ...                     0.0
2                               0.0         0.0  ...                     0.0
3                               0.0         0.0  ...                     0.0
4                               0.0         0.0  ...                     0.0
...                             ...         ...  ...                     ...
2947516                         0.0         0.0  ...                     0.0
2947517                         0.0         0.0  ...                     0.0
2947518                         0.0         0.0  ...                     0.0
2947519                         0.0         0.0  ...                     0.0
2947520                         0.0         0.0  ...                     0.0

         Running Slam Dunk Shot  Running Bank Hook Shot  Jump Bank Hook Shot  \
0                           0.0                     0.0                  0.0
1                           0.0                     0.0                  0.0
2                           0.0                     0.0                  0.0
3                           0.0                     0.0                  0.0
4                           0.0                     0.0                  0.0
...                         ...                     ...                  ...
2947516                     0.0                     0.0                  0.0
2947517                     0.0                     0.0                  0.0
2947518                     0.0                     0.0                  0.0
2947519                     0.0                     0.0                  0.0
2947520                     0.0                     0.0                  0.0

         Putback Reverse Dunk Shot  Driving Finger Roll Shot  \
0                              0.0                       0.0
1                              0.0                       0.0
2                              0.0                       0.0
3                              0.0                       0.0
4                              0.0                       0.0
...                            ...                       ...
2947516                        0.0                       0.0
2947517                        0.0                       0.0
2947518                        0.0                       0.0
2947519                        0.0                       0.0
2947520                        0.0                       0.0

         Finger Roll Shot  Follow Up Dunk Shot  Turnaround Finger Roll Shot  \
0                     0.0                  0.0                          0.0
1                     0.0                  0.0                          0.0
2                     0.0                  0.0                          0.0
3                     0.0                  0.0                          0.0
4                     0.0                  0.0                          0.0
...                   ...                  ...                          ...
2947516               0.0                  0.0                          0.0
2947517               0.0                  0.0                          0.0
2947518               0.0                  0.0                          0.0
2947519               0.0                  0.0                          0.0
2947520               0.0                  0.0                          0.0

         Running Finger Roll Shot
0                             0.0
1                             0.0
2                             0.0
3                             0.0
4                             0.0
...                           ...
2947516                       0.0
2947517                       0.0
2947518                       0.0
2947519                       0.0
2947520                       0.0

[2947521 rows x 70 columns]

In [89]:
shot_data = pd.concat([shot_data, action_df], axis = 1)
print(shot_data)

         SEASON TEAM_NAME    PLAYER_NAME POSITION_GROUP POSITION HOME_TEAM  \
0          2022       WAS   Bradley Beal              G       SG       IND
1          2022       WAS   Monte Morris              G       PG       IND
2          2022       WAS   Monte Morris              G       PG       IND
3          2022       WAS     Kyle Kuzma              F       PF       IND
4          2022       WAS     Kyle Kuzma              F       PF       IND
...         ...       ...            ...            ...      ...       ...
2947516    2005       PHX   Shawn Marion              F       PF       PHX
2947517    2005       DAL  Erick Dampier              C        C       PHX
2947518    2005       PHX    Kurt Thomas              C        C       PHX
2947519    2005       MIL   Michael Redd              G       SG       PHI
2947520    2005       DEN  Kenyon Martin              F       PF       SAS

        AWAY_TEAM  SHOT_MADE                     ACTION_TYPE  SHOT_TYPE  ...  \
0             WAS          1                       Jump Shot          0  ...
1             WAS          1  Running Finger Roll Layup Shot          1  ...
2             WAS          0  Running Finger Roll Layup Shot          1  ...
3             WAS          1                       Jump Shot          0  ...
4             WAS          1                       Jump Shot          0  ...
...           ...        ...                             ...        ...  ...
2947516       DAL          1            Alley Oop Layup shot          1  ...
2947517       DAL          1                      Layup Shot          1  ...
2947518       DAL          1                      Layup Shot          1  ...
2947519       MIL          1               Running Jump Shot          1  ...
2947520       DEN          1                       Jump Shot          1  ...

        Reverse Slam Dunk Shot Running Slam Dunk Shot Running Bank Hook Shot  \
0                          0.0                    0.0                    0.0
1                          0.0                    0.0                    0.0
2                          0.0                    0.0                    0.0
3                          0.0                    0.0                    0.0
4                          0.0                    0.0                    0.0
...                        ...                    ...                    ...
2947516                    0.0                    0.0                    0.0
2947517                    0.0                    0.0                    0.0
2947518                    0.0                    0.0                    0.0
2947519                    0.0                    0.0                    0.0
2947520                    0.0                    0.0                    0.0

         Jump Bank Hook Shot  Putback Reverse Dunk Shot  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        0.0                        0.0
4                        0.0                        0.0
...                      ...                        ...
2947516                  0.0                        0.0
2947517                  0.0                        0.0
2947518                  0.0                        0.0
2947519                  0.0                        0.0
2947520                  0.0                        0.0

         Driving Finger Roll Shot  Finger Roll Shot  Follow Up Dunk Shot  \
0                             0.0               0.0                  0.0
1                             0.0               0.0                  0.0
2                             0.0               0.0                  0.0
3                             0.0               0.0                  0.0
4                             0.0               0.0                  0.0
...                           ...               ...                  ...
2947516                       0.0               0.0                  0.0
2947517                       0.0               0.0                  0.0
2947518                       0.0               0.0                  0.0
2947519                       0.0               0.0                  0.0
2947520                       0.0               0.0                  0.0

        Turnaround Finger Roll Shot  Running Finger Roll Shot
0                               0.0                       0.0
1                               0.0                       0.0
2                               0.0                       0.0
3                               0.0                       0.0
4                               0.0                       0.0
...                             ...                       ...
2947516                         0.0                       0.0
2947517                         0.0                       0.0
2947518                         0.0                       0.0
2947519                         0.0                       0.0
2947520                         0.0                       0.0

[2947521 rows x 100 columns]

In [90]:
print(shot_data.columns)

Index(['SEASON', 'TEAM_NAME', 'PLAYER_NAME', 'POSITION_GROUP', 'POSITION',
       'HOME_TEAM', 'AWAY_TEAM', 'SHOT_MADE', 'ACTION_TYPE', 'SHOT_TYPE',
       'BASIC_ZONE', 'ZONE_NAME', 'ZONE_RANGE', 'LOC_X', 'LOC_Y',
       'SHOT_DISTANCE', 'MINS_LEFT', 'SECS_LEFT', 'OPP_TEAM', 'PREV_SEASON',
       'Player', 'Pos', 'Team', 'MP', 'FG%', '3P%', '2P%', 'eFG%', 'Season',
       'DEF_RTG', 'Jump Shot', 'Running Finger Roll Layup Shot',
       'Driving Layup Shot', 'Pullup Jump shot',
       'Driving Finger Roll Layup Shot', 'Tip Layup Shot',
       'Step Back Jump shot', 'Driving Reverse Layup Shot',
       'Running Reverse Layup Shot', 'Layup Shot', 'Running Pull-Up Jump Shot',
       'Dunk Shot', 'Reverse Layup Shot', 'Running Dunk Shot',
       'Floating Jump shot', 'Driving Floating Jump Shot',
       'Cutting Layup Shot', 'Putback Layup Shot', 'Turnaround Jump Shot',
       'Turnaround Fadeaway shot', 'Running Jump Shot', 'Cutting Dunk Shot',
       'Turnaround Hook Shot', 'Running Layup Shot', 'Driving Dunk Shot',
       'Fadeaway Jump Shot', 'Cutting Finger Roll Layup Shot',
       'Running Alley Oop Layup Shot', 'Driving Floating Bank Jump Shot',
       'Running Alley Oop Dunk Shot', 'Driving Hook Shot', 'Putback Dunk Shot',
       'Hook Shot', 'Alley Oop Dunk Shot', 'Tip Dunk Shot',
       'Alley Oop Layup shot', 'Hook Bank Shot', 'Driving Bank Hook Shot',
       'Reverse Dunk Shot', 'Jump Bank Shot', 'Turnaround Bank shot',
       'Finger Roll Layup Shot', 'Fadeaway Bank shot',
       'Turnaround Fadeaway Bank Jump Shot', 'Turnaround Bank Hook Shot',
       'Step Back Bank Jump Shot', 'Driving Reverse Dunk Shot',
       'Running Reverse Dunk Shot', 'Pullup Bank shot', 'Driving Bank shot',
       'Driving Jump shot', 'No Shot', 'Running Hook Shot', 'Slam Dunk Shot',
       'Running Bank shot', 'Tip Shot', 'Putback Slam Dunk Shot',
       'Running Tip Shot', 'Driving Slam Dunk Shot', 'Jump Hook Shot',
       'Reverse Slam Dunk Shot', 'Running Slam Dunk Shot',
       'Running Bank Hook Shot', 'Jump Bank Hook Shot',
       'Putback Reverse Dunk Shot', 'Driving Finger Roll Shot',
       'Finger Roll Shot', 'Follow Up Dunk Shot',
       'Turnaround Finger Roll Shot', 'Running Finger Roll Shot'],
      dtype='object')

## Removing excess columns and importing dataset to csv

In [91]:
shot_data = shot_data.drop(columns = ['SEASON', 'TEAM_NAME', 'POSITION_GROUP', 'POSITION','HOME_TEAM',
                         'AWAY_TEAM', 'ACTION_TYPE', 'OPP_TEAM', 'PREV_SEASON','Player', 'Pos', 'Team','POSITION',
                                     'ZONE_RANGE', 'BASIC_ZONE', 'ZONE_NAME'])

In [92]:
print(shot_data.columns)
print(len(shot_data.columns))

Index(['PLAYER_NAME', 'SHOT_MADE', 'SHOT_TYPE', 'LOC_X', 'LOC_Y',
       'SHOT_DISTANCE', 'MINS_LEFT', 'SECS_LEFT', 'MP', 'FG%', '3P%', '2P%',
       'eFG%', 'Season', 'DEF_RTG', 'Jump Shot',
       'Running Finger Roll Layup Shot', 'Driving Layup Shot',
       'Pullup Jump shot', 'Driving Finger Roll Layup Shot', 'Tip Layup Shot',
       'Step Back Jump shot', 'Driving Reverse Layup Shot',
       'Running Reverse Layup Shot', 'Layup Shot', 'Running Pull-Up Jump Shot',
       'Dunk Shot', 'Reverse Layup Shot', 'Running Dunk Shot',
       'Floating Jump shot', 'Driving Floating Jump Shot',
       'Cutting Layup Shot', 'Putback Layup Shot', 'Turnaround Jump Shot',
       'Turnaround Fadeaway shot', 'Running Jump Shot', 'Cutting Dunk Shot',
       'Turnaround Hook Shot', 'Running Layup Shot', 'Driving Dunk Shot',
       'Fadeaway Jump Shot', 'Cutting Finger Roll Layup Shot',
       'Running Alley Oop Layup Shot', 'Driving Floating Bank Jump Shot',
       'Running Alley Oop Dunk Shot', 'Driving Hook Shot', 'Putback Dunk Shot',
       'Hook Shot', 'Alley Oop Dunk Shot', 'Tip Dunk Shot',
       'Alley Oop Layup shot', 'Hook Bank Shot', 'Driving Bank Hook Shot',
       'Reverse Dunk Shot', 'Jump Bank Shot', 'Turnaround Bank shot',
       'Finger Roll Layup Shot', 'Fadeaway Bank shot',
       'Turnaround Fadeaway Bank Jump Shot', 'Turnaround Bank Hook Shot',
       'Step Back Bank Jump Shot', 'Driving Reverse Dunk Shot',
       'Running Reverse Dunk Shot', 'Pullup Bank shot', 'Driving Bank shot',
       'Driving Jump shot', 'No Shot', 'Running Hook Shot', 'Slam Dunk Shot',
       'Running Bank shot', 'Tip Shot', 'Putback Slam Dunk Shot',
       'Running Tip Shot', 'Driving Slam Dunk Shot', 'Jump Hook Shot',
       'Reverse Slam Dunk Shot', 'Running Slam Dunk Shot',
       'Running Bank Hook Shot', 'Jump Bank Hook Shot',
       'Putback Reverse Dunk Shot', 'Driving Finger Roll Shot',
       'Finger Roll Shot', 'Follow Up Dunk Shot',
       'Turnaround Finger Roll Shot', 'Running Finger Roll Shot'],
      dtype='object')
85

In [93]:
shot_data.to_csv('shot_name_dataset.csv')

In [94]:
shot_data = shot_data.drop(columns = ['PLAYER_NAME'])

In [95]:
shot_data.to_csv('shot_dataset.csv')